.textContainer{
    padding: 5%;
    text-align: left;
}

.textContainer h1{
    color: #2D6D2C;
    font-family: 'Archivo black';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
}

.textContainer p{
    font-style: normal;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
    .textContainer{
        margin-top: 70px;    
    }

    .textContainer h1{
        font-size: 35px;
    }
    .textContainer p {
        font-size: 18px;
        margin-left: 0px;
    }
}


@media screen and (min-width: 361px) and (max-width: 480px) {
    .textContainer{
        margin-top: 70px;    
    }

    .textContainer h1{
        font-size: 40px;
    }
    .textContainer p {
        font-size: 18px;
        margin-left: 0px;
    }
}