.postContainer {
    padding: 5%;
}

.postContainer h1{
    font-family: 'Scada';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #2D6D2C;
}

.postContainer p{
    font-size: 150%;
    margin-top: 40px; 
}

.postCardDeck{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-around;
}

.postCard{
    display: flex;
    width: 40%;
    padding: 30px;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 20px 0px 20px 0px;
}

.postCard p{
    font-family: 'Lato';
    font-size: 20px;
}

.postCard h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 900px){
    

    .postContainer h1{
        font-size: 40px;
    }

    .postContainer h2{
        font-size: 25px;
    }
    
    .postCard p{
        font-size: 18px;   
    }
    

    .postCard{
        width: 100%;
    }
}